.user-feedback-component {
  width: 496px;
  padding: 2rem;
  border-radius: var(--border-radius-m);

  background-color: var(--modal-background-color);
  overflow: hidden;

  @media (max-width: 520px) {
    width: 343px;
    padding: 1rem;
  }

  @media (max-width: 363px) {
    width: 100%;
  }

  & &__icon-container {
    @media (max-width: 520px) {
      height: 40px;
    }
  }

  & &__title {
    // Typography starts
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-l);
    line-height: var(--font-size-l);
    letter-spacing: 0.004em;
    text-align: left;
    // Typography ends

    max-width: 265px;
    margin-top: 1rem;
    margin-bottom: 2rem;

    @media (max-width: 520px) {
      // Typography starts
      line-height: 19.8px;
      // Typography ends

      max-width: 200px;
      margin-top: 10px;
      margin-bottom: 1.5rem;
    }
  }

  //   & &__rating-container {
  //   }

  & &__rates-container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 363px) {
      gap: 4px;
    }
  }

  & &__single-rate-tile {
    // Typography starts
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-m);
    line-height: var(--font-size-l);
    letter-spacing: 0em;
    // Typography ends

    display: flex;
    align-items: center;
    justify-content: center;

    height: 64px;
    width: 80px;

    border: 1px solid var(--rate-tile-border-color);
    border-radius: var(--border-radius-s);
    transition: border 0.2s, background-color 0.2s;

    @media (max-width: 520px) {
      height: 48px;
      width: 56px;
    }

    @media (max-width: 301px) {
      height: 40px;
    }

    &:hover {
      cursor: pointer;
      border: 1px solid var(--single-label-border-color-hover);
    }

    &[data-disabled] {
      &:hover {
        cursor: not-allowed;
        border: 1px solid var(--rate-tile-border-color);
      }
    }

    &[data-selected] {
      border: 1px solid var(--primary-color);
      background-color: var(--primary-color-alpha-008);

      &[data-disabled]:hover {
        border: 1px solid var(--primary-color);
      }
    }
  }

  & &__labels-container {
    display: flex;
    justify-content: space-between;

    margin-top: 1rem;
    margin-bottom: 2rem;

    @media (max-width: 520px) {
      margin-top: 13px;
      margin-bottom: 22px;
    }
  }

  & &__single-label {
    // Typography starts
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-m);
    line-height: 19px;
    letter-spacing: -0.01em;
    text-align: left;
    // Typography ends

    width: 90px;

    color: var(--single-label-text-color);

    @media (max-width: 520px) {
      line-height: 14.4px;
    }

    &--to-right {
      text-align: right;
    }
  }

  & &__opinion-container {
    text-align: left;
    font-size: var(--font-size-xs);
    line-height: 17px;
    letter-spacing: 0em;

    // smooth expanding
    transition: max-height 0.3s, overflow 0.3s, opacity 0.5s;
    height: 100%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;

    &[data-opinion-container-expanded] {
      max-height: 105px;
      overflow: visible;
      opacity: 1;
    }
  }

  & &__opinion-label {
    // Typography starts
    font-weight: var(--font-weight-l);
    // Typography ends

    display: block;
  }

  & &__opinion-input {
    // Typography starts
    font-weight: var(--font-weight-s);
    // Typography ends

    margin-block: 1rem;
    background: transparent;
    border: 1px solid var(--rate-tile-border-color);
    border-radius: var(--border-radius-l);
    height: 56px;
    padding: 20px 32px 19px;
    width: 100%;
    color: #fff;
    transition: border 0.2s;

    &:focus {
      //   outline: 1px solid var(--single-label-border-color-hover);
      outline: none;
      border: 1px solid var(--single-label-border-color-hover);
    }

    @media (max-width: 520px) {
      padding-block: 17px;
      height: 48px;
    }
  }
}
