.user-feedback-component {
  margin-top: 2rem;

  width: 496px;
  height: 414px;

  padding: 2rem;
  border-radius: var(--border-radius-m);

  background-color: var(--modal-background-color);

  & &__title {
    // Typography starts
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-l);
    line-height: var(--font-size-l);
    letter-spacing: 0em;
    // Typography ends

    max-width: 265px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  //   & &__rating-container {
  //   }

  & &__rates-container {
    display: flex;
    justify-content: space-between;
  }

  & &__single-rate-tile {
    // Typography starts
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-m);
    line-height: var(--font-size-l);
    letter-spacing: 0em;
    // Typography ends

    display: flex;
    align-items: center;
    justify-content: center;

    height: 64px;
    width: 80px;

    border: 1px solid var(--rate-tile-border-color);
    border-radius: var(--border-radius-s);
    transition: border 0.2s, background-color 0.2s;

    &:hover {
      cursor: pointer;
      border: 1px solid var(--single-label-border-color-hover);
    }

    &[data-selected] {
      border: 1px solid var(--primary-color);
      background-color: var(--primary-color-alpha-008);
    }
  }

  & &__labels-container {
    display: flex;
    justify-content: space-between;

    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  & &__single-label {
    // Typography starts
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-m);
    line-height: 19px;
    letter-spacing: -0.01em;
    // Typography ends

    width: 90px;

    color: var(--single-label-text-color);

    &--to-right {
      text-align: right;
    }
  }
}
