.user-feedback-modal {
  .swal2-html-container {
    margin: 0;
  }

  .swal2-popup {
    border-radius: 24px;
  }

  .swal2-close {
    --close-button-size: 19px;

    width: var(--close-button-size);
    height: var(--close-button-size);

    margin-top: 26px;
    margin-right: 26px;
  }
}
